
    


*, ::before, ::after{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    
   /* background-color: rgb(243, 243, 243);*/
    color: rgb(0, 0, 0);
   /* background: linear-gradient(to right,rgb(246, 248, 255) 50%, white 50% );*/
  /*  background-color: rgb(246, 248, 255);*/
    font-family : 'Playfair Display', serif ;
    font-weight: 100;
    overflow-x: hidden;
    
}


nav{
    width: 100%;
    height: 10vh;
    background: rgb(255, 255, 255);
    /*box-shadow: 0px 0px 10px 8px rgb(231, 231, 231);*/
    box-shadow: 0PX 0PX 10PX 8PX rgba(93, 101, 116, 0.226);
    position: fixed;
    z-index: 4;
}

.nav-elements{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;

}

h2{
    font-size: 8rem;
    padding-left: 20px;
    letter-spacing: 4px;
}

.devweb{
    color: rgb(97, 125, 253);
    font-size: 6rem;
    font-weight: 100;
}

.nav-ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    
}

li{
    margin-left: 10rem;
    font-size: 6em;
    letter-spacing: 4PX;
}

a{
    text-decoration: none;
     color: rgb(16, 16, 17); 
     width: 60px;
    }
    
    
    a:hover{ 
    color: rgb(16, 16, 17); 
}


a:visited{
    color: rgb(16, 16, 17);
    text-decoration: none; 
}

.li-contact{
    margin-right: 40px;
}
/********************************************MAIN*********************************/
.tout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "ex img"
                         "bar qual"
                         "img2 proj";
}

.experiences-diplomes{
    z-index: 2;
    grid-area: ex;
    margin-top: 25vh;
    /*position: absolute;*/
    text-align: center;
    animation: 2s;
    background: rgba(128, 128, 128, 0.068);
  
    padding-left: 50px;
}


.experiences-diplomes li{
    list-style-type: none;
    font-size: 5em;
}

.h2-experiences{
    font-size: 7em;
}

.diplomes{
    margin-top: 8vh;
    
    
}

.image-exp-dip{
    z-index: 1;
    grid-area: img;
 
}

.img1{
    margin-left: -60%;
    width: 210%;
    margin-top: -20%;
}

.cont-progress-bar{
    grid-area: bar;
    text-align: center;
    z-index: 3;
    margin-bottom: 50%;
}
.progress{
    margin-right: -50%;
    margin-left: 50%;
    margin-top: 60px;    
}

.competences{
    margin-right: -100%;
    margin-top: 10%;
}

.cont-qualités{
    grid-area: qual;
    margin-bottom: 60%;
}

.h2-qualités{
    margin-left: 50%;
    margin-top: -40%;
}

.ul-qualités{
    margin-left: 13%;
    list-style-type: none;
    text-align: center;
}

.cont-img2{
    grid-area: img2;
}


.img2{
    width: 100%;
    margin-top: -40%;
    
}

.projets{
    grid-area: proj;
    margin-top: -40%;
    font-size: 4rem;
    margin-bottom: 90%;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
}

footer{
    margin-top: -20%;
    box-shadow: 0PX 0PX 10PX 8PX rgba(93, 101, 116, 0.226);
    width: 100%;
    height: 2000px;
}

.footer-elements{
    font-size: 8rem;
}
